{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>

{{end}}
{{=P(T("First of all, you need to configure your preferences so we will show you content in your preferred language by default. Please edit the settings below and press the Save button. Take into account that while the website is not translated in too many languages, you still can watch some content in those languages, if available."))}}
{{=H2(T("Settings"))}}
{{=form}}