{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>

{{end}}
{{if show.file != None:}}
{{=A(T("Play"), _href=URL("default", "watch", vars=dict(id=show.id, type="movie")))}}
{{pass}}
{{=IMG(_src="http://streamit.manuelcortez.net/static/imgs/{0}".format(show.image,), _alt=T("Movie cover"))}}
{{=H2(T("Details"))}}
<ul>
{{=LI(T("Name: {0}").format(show.title,))}}
{{=LI(T("Release date: {0}").format(show.release_date,))}}
{{=LI(T("Lenght: {0}").format(show.run_time,))}}
{{=LI(T("Production: {0}").format(show.created_by,))}}
{{=LI(T("Staff: {0}").format(show.credits,))}}
{{=LI(T("Rate: {0} (based in {1} votes)").format(show.rating, show.rating_count,))}}
{{=LI(T("Genres: {0}").format(show.genre,))}}
</ul>
<blockquote>
{{=show.overview}}
</blockquote>
{{if auth.user_id == 1:}}
{{=A(T("Add file"), _href=URL("administrator", "add_file", vars=dict(type="movie", id=show.id)))}} | {{=A("Add file from server path", _href=URL("admin", "add_file", vars=dict(type="movie", id=show.id)))}}
{{pass}}