{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>

{{end}}
{{if auth.user_id == 1:}}
{{=A(T("Edit season"), _href=URL("edit", "edit_season", vars=dict(season=season.id)))}}
{{pass}}
{{=IMG(_src="http://streamit.manuelcortez.net/static/imgs/{0}".format(season.image,), _alt=T("Season cover"))}}
<ul>
{{=LI(T("First aired: {0}").format(season.first_aired,))}}
{{=LI(T("episodes: {0}").format(len(episodes),))}}
</ul>
<blockquote>
{{=season.overview}}
</blockquote>
{{=H2(T("Episodes"))}}
<ul>
{{for i in episodes:}}
{{if i.file != None:}}
{{=LI(A("{0}. {1}".format(i.episode_number, i.name), _href=URL("default", "watch", vars=dict(id=i.id, type="tv"))))}}
{{else:}}
{{=LI("{0}. {1}".format(i.episode_number, i.name))}}
{{pass}}
{{if auth.user_id == 1:}}
{{=A(T("Add file"), _href=URL("administration", "add_file", vars=dict(type="tv", id=i.id)))}}
{{pass}}
{{pass}}
</ul>