{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>

{{end}}
{{if auth.user_id == 1:}}
{{=A("Añadir temporada", _href=URL("administration", "add_season", vars=dict(show=show.id)))}}
{{pass}}
{{=IMG(_src="http://flix.mcc-technologies.com/static/imgs/{0}".format(show.image,), _alt="Póster del show")}}
{{=H2("Ficha técnica")}}
<ul>
{{=LI("Nombre: {0}".format(show.show_title,))}}
{{=LI("Primera emisión: {0}".format(show.release_date,))}}
{{=LI("Temporadas: {0}".format(show.number_of_seasons,))}}
{{=LI("Número de episodios: {0}".format(show.number_of_episodes,))}}
{{=LI("Duración por episodio: {0}".format(show.episode_run_time,))}}
{{=LI("Creador: {0}".format(show.created_by,))}}
{{=LI("Reparto: {0}".format(show.credits,))}}
{{=LI("Calificación: {0} (basado en {1} votos)".format(show.rating, show.rating_count,))}}
{{=LI("Géneros: {0}".format(show.genre,))}}
</ul>
<blockquote>
{{=show.overview}}
</blockquote>
{{=H2(T("Seasons"))}}
<ul>
{{for i in seasons:}}
{{=LI(A(i.name, _href=URL("default", "season", vars=dict(show=show.id, season=i.id))))}}
{{pass}}
</ul>
