{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>

{{end}}
{{if auth.user_id == 1:}}
{{=A(T("Add season"), _href=URL("administration", "add_season", vars=dict(show=show.id)))}}
{{pass}}
{{=IMG(_src="http://streamit.manuelcortez.net/static/imgs/{0}".format(show.image,), _alt=T("Show cover"))}}
{{=H2(T("Details"))}}
<ul>
{{=LI(T("Name: {0}").format(show.show_title,))}}
{{=LI(T("First aired: {0}").format(show.release_date,))}}
{{=LI(T("Seasons: {0}").format(show.number_of_seasons,))}}
{{=LI(T("Episodes: {0}").format(show.number_of_episodes,))}}
{{=LI(T("Run time: {0}").format(show.episode_run_time,))}}
{{=LI(T("Creators: {0}").format(show.created_by,))}}
{{=LI(T("Staff: {0}").format(show.credits,))}}
{{=LI(T("Rating: {0} (based in {1} votes)").format(show.rating, show.rating_count,))}}
{{=LI(T("Genres: {0}").format(show.genre,))}}
</ul>
<blockquote>
{{=show.overview}}
</blockquote>
{{=H2(T("Seasons"))}}
<ul>
{{for i in seasons:}}
{{=LI(A(i.name, _href=URL("default", "season", vars=dict(show=show.id, season=i.id))))}}
{{pass}}
</ul>
