{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>

{{end}}

<div class="px-video-container" id="myvid">
	<div class="px-video-img-captions-container">
		<div class="px-video-captions hide" aria-live="polite"></div>
		<video width="640" height="360" poster="media/poster_PayPal_Austin2.jpg" controls>
			<!-- video files -->
			<source src="{{=URL("download", args=episode.file)}}"/>

			<!-- text track file -->

			<!-- fallback for browsers that don't support the video element -->
			<div>
				<a href="{{=URL("download", args=episode.file.id)}}">
					<img src="media/poster_PayPal_Austin2.jpg" width="640" height="360" alt="download video" />
				</a>
			</div>
		</video>
	</div><!-- end container for captions and video -->
	<div class="px-video-controls"></div>
</div><!-- end video container -->

<script src="{{=URL("static", "js/strings.js")}}"></script>
<script src="{{=URL("static", "js/px-video.js")}}"></script>

<script>

// Initialize
new InitPxVideo({
	"videoId": "myvid",
	"captionsOnDefault": false,
	"seekInterval": 20,
	"videoTitle": "{{=episode.name if hasattr(episode, "name") else episode.title}}",
	"debug": false
});

audio = document.getElementsByClassName("px-video-play")[0];
audio.click();
audio = document.getElementsByTagName("video")[0];
{{if progress != None:}}
audio.currentTime = {{=progress.time}}
{{pass}}
//audio.play();
audio.addEventListener("ended", function(){
     audio.currentTime = 0;
        window.location.href = "{{=URL("default", "next")}}?type=tv&cap={{=episode.id}}";
});

function executeQuery() {
    audio = document.getElementsByTagName("video")[0];
    $.ajax({
    url: '{{=URL("default", "savedata")}}?user={{=auth.user_id}}&type={{=episode.file.type}}&id={{=episode.file.id}}&duration='+audio.currentTime,
  });
  setTimeout(executeQuery, 15000); // you could choose not to continue on failure...
}

$(document).ready(function() {
  // run the first time; all subsequent calls will take care of themselves
  setTimeout(executeQuery, 15000);
});

</script>